---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MoguraStore">
  <div>
    <h3>code</h3>
    <ul>
      <li>
        <a href="https://github.com/mogurastore" target="_blank">github</a>
      </li>
    </ul>

    <h3>work</h3>
    <ul>
      <li>
        <a href="https://github.com/mogurastore/dcy" target="_blank">dcy</a>
      </li><li>
        <a
          href="https://chrome.google.com/webstore/detail/go-to-social-blade/mkdmbipodfkcdlednpdicbpankjijbii"
          target="_blank">go-to-social-blade</a
        >
      </li><li>
        <a href="https://github.com/mogurastore/iori" target="_blank">iori</a>
      </li><li>
        <a href="https://github.com/mogurastore/mogu" target="_blank">mogu</a>
      </li><li>
        <a
          href="https://chrome.google.com/webstore/detail/bkfpljlfkmogoblddnghcagcdddapdmn?authuser=0&hl=ja"
          target="_blank">novelai-support</a
        >
      </li>
    </ul>

    <h3>video</h3>
    <ul>
      <li>
        <a
          href="https://www.twitch.tv/mogurastore"
          rel="noopener noreferrer"
          target="_blank">twitch</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UChuJTZ235gg3XCRs-DReDIA"
          rel="noopener noreferrer"
          target="_blank">youtube</a
        >
      </li><li>
        <a
          href="https://www.nicovideo.jp/user/1020273/video"
          rel="noopener noreferrer"
          target="_blank">nico</a
        >
      </li>
    </ul>

    <h3>text</h3>
    <ul>
      <li>
        <a href="https://mogura.dev" rel="noopener noreferrer" target="_blank"
          >blog</a
        >
      </li><li>
        <a
          href="https://note.com/mogurastore"
          rel="noopener noreferrer"
          target="_blank">note</a
        >
      </li><li>
        <a
          href="https://watch.mogura.dev"
          rel="noopener noreferrer"
          target="_blank">MoguraWatch</a
        >
      </li>
    </ul>

    <h3>sns</h3>
    <ul>
      <li>
        <a
          href="https://twitter.com/MoguraStore"
          rel="noopener noreferrer"
          target="_blank">twitter</a
        >
      </li>
    </ul>

    <h3>etc</h3>
    <ul>
      <li>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSd0AELD17Yqv2iK2Ljb5HOSO7aTK7cWLHobMy0ZkdoU-XjPrg/viewform"
          rel="noopener noreferrer"
          target="_blank">contact</a
        >
      </li>
    </ul>
  </div>
</Layout>
